{% extends "base.html" %}


{% block content %}
    <h1>Добавление ученика</h1>
    <form method="post">
        {% csrf_token %}


        <div class="mb-3">
            {{form.name.label_tag}}
            {{form.name}}
            {{form.name.errors}}
        </div>

        <div class="mb-3">
            {{form.number_of_class.label_tag }}
            {{form.number_of_class}}
            {{form.number_of_class.errors}}
        </div>

        <div>
            <button type="submit" class="btn btn-success">Добавить</button>
        </div>
    </form>
{% endblock %}